#title {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', 'Times New Roman';
}

#home-button {
    color: blueviolet;
    font-family: 'Courier New', 'Times New Roman';
    
}

h2 {
    text-align: center;
    font-family: 'Courier New', 'Times New Roman';
    background-color: lightgray;

}
